/* Reset some default styles and apply a box-sizing border-box */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Apply styles to the navigation bar */
.navbar {
  background-color: rgb(37, 36, 36);
  padding: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Adding a subtle glow effect */
}

/* Style the navigation links */
.links {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease; /* Add a smooth transition effect for color change */
}

.links a:hover {
  color: #8c8c8c; /*   Change the color on hover to a more subdued color */
}

/* Style for the logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logo:hover {
  color: #8c8c8c; /* Change the color on hover to a more subdued color */
}

.container-content{
  margin-top: 30px;
}


